<extend name="Public/base" />
<block name="title">{$title}</block>
<block name="keywords">{$keywords}</block>
<block name="description">{$description}</block>

<!--main-->
<block name="body">
<section class="banner_line"></section>
<!-- Page Title --> 
<section id="title">
    <div style="background:url({:get_cover($cateinfo['icon'],'path')}) no-repeat top center">
	</div>
</section>
<!-- End Page Title --> 
<section class="main_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="news">
                        <div class="col-sm-12">
                            <Div class="news_cont">
                                 <div class="new_610_1">{$info.title}</div>
                                 <div class="news_cont_nr">
                                    {$info.content}
                                 </div>
                            </Div>
                         </div>
                        
                    </div>
                </div>
            </div>
        </div>
         <include file="Public/foot" />
    </div>
</section>
</block>